<div class="container">
    <ngx-masonry>
        <ngxMasonryItem class="masonry-item">
        <h3>hello</h3>
        <p>Lorum ipsum dolor sit amet.</p>
        </ngxMasonryItem>
        <ngxMasonryItem class="masonry-item">
        <h3>hello</h3>
        <p>Lorum ipsum dolor sit amet.</p>
        </ngxMasonryItem>
        <ngxMasonryItem class="masonry-item">
        <h3>hello</h3>
        <p>Lorum ipsum dolor sit amet.</p>
        </ngxMasonryItem>
        <ngxMasonryItem class="masonry-item">
        <h3>hello</h3>
        <p>Lorum ipsum dolor sit amet.</p>
        </ngxMasonryItem>
        <ngxMasonryItem class="masonry-item">
        <h3>hello</h3>
        <p>Lorum ipsum dolor sit amet.</p>
        </ngxMasonryItem>
        <ngxMasonryItem class="masonry-item">
        <h3>hello</h3>
        <p>Lorum ipsum dolor sit amet.</p>
        </ngxMasonryItem>
    </ngx-masonry>
  </div>