
<ng-masonry-grid class="masonary-items-group" [masonryOptions]="{ transitionDuration: '0.8s', gutter: 5 }" 
[useAnimation]="true"
[useImagesLoaded]="true"
[scrollAnimationOptions]="{ animationEffect: 'effect-2', minDuration : 0.4, maxDuration : 0.7 }">
    <ng-masonry-grid-item id="masonary1" class="masonary-items"> 
        <div class="cards">
        <div class="user-details" tabindex="0">
            <img alt="image" class="user-img" src="../../assets/images/author3.jpg">
            <div class="user-name">
                <h3 class="point">
                    Pot Chai Soon
                </h3>
                <p>
                    Wrote a review
                </p>
            </div>
        </div>
        <div class="restau-name" tabindex="0">
            <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
        </div>
        <div class="row link" tabindex="0">
            <div class="col-6 rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div class="col-6">
                <div class="time float-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    1 day ago
                </div>
            </div>
        </div>
        <p class="review link" tabindex="0">
            
        </p>
        </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary2" class="masonary-items"> 
        <div class="cards">
        <div class="user-details" tabindex="0">
            <img alt="image" class="user-img" src="../../assets/images/author3.jpg">
            <div class="user-name">
                <h3 class="point">
                    Pot Chai Soon
                </h3>
                <p>
                    Wrote a review
                </p>
            </div>
        </div>
        <div class="restau-name" tabindex="0">
            <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
        </div>
        <div class="row link" tabindex="0">
            <div class="col-6 rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div class="col-6">
                <div class="time float-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    1 day ago
                </div>
            </div>
        </div>
        <p class="review link" tabindex="0">
            
        </p>
        </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary3" class="masonary-items"> 
        <div class="cards">
        <div class="user-details" tabindex="0">
            <img alt="image" class="user-img" src="../../assets/images/author1.jpg">
            <div class="user-name">
                <h3 class="point">
                    Pot Chai Soon
                </h3>
                <p>
                    Wrote a review
                </p>
            </div>
        </div>
        <div class="restau-name" tabindex="0">
            <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
        </div>
        <div class="row link" tabindex="0">
            <div class="col-6 rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>  
            <div class="col-6">
                <div class="time float-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    1 day ago
                </div>
            </div>
        </div>
        </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary4" class="masonary-items"> 
        <div class="cards">
        <div class="user-details" tabindex="0">
            <img alt="image" class="user-img" src="../../assets/images/author2.jpg">
            <div class="user-name">
                <h3 class="point">
                    Pot Chai Soon
                </h3>
                <p>
                    Wrote a review
                </p>
            </div>
        </div>
        <div class="restau-name" tabindex="0">
            <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
        </div>
        <div class="row link" tabindex="0">
            <div class="col-6 rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>  
            <div class="col-6">
                <div class="time float-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    1 day ago
                </div>
            </div>
        </div>
        </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary5" class="masonary-items"> 
        <div class="cards">
        <div class="user-details" tabindex="0">
            <img alt="image" class="user-img" src="../../assets/images/author1.jpg">
            <div class="user-name">
                <h3 class="point">
                    Pot Chai Soon
                </h3>
                <p>
                    Wrote a review
                </p>
            </div>
        </div>
        <div class="restau-name" tabindex="0">
            <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
        </div>
        <div class="row link" tabindex="0">
            <div class="col-6 rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>  
            <div class="col-6">
                <div class="time float-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    1 day ago
                </div>
            </div>
        </div>
        <p class="review link" tabindex="0">
            
        </p>
        </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary6" class="masonary-items"> 
        <div class="cards">
        <div class="user-details" tabindex="0">
            <img alt="image" class="user-img" src="../../assets/images/author2.jpg">
            <div class="user-name">
                <h3 class="point">
                    Pot Chai Soon
                </h3>
                <p>
                    Wrote a review
                </p>
            </div>
        </div>
        <div class="restau-name" tabindex="0">
            <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
        </div>
        <div class="row link" tabindex="0">
            <div class="col-6 rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>  
            <div class="col-6">
                <div class="time float-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    1 day ago
                </div>
            </div>
            </div>     
        </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary7" class="masonary-items"> 
        <div class="cards">
        <div class="user-details" tabindex="0">
            <img alt="image" class="user-img" src="../../assets/images/author3.jpg">
            <div class="user-name">
                <h3 class="point">
                    Pot Chai Soon
                </h3>
                <p>
                    Wrote a review
                </p>
            </div>
        </div>
        <div class="restau-name" tabindex="0">
            <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
        </div>
        <div class="row link" tabindex="0">
            <div class="col-6 rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>  
            <div class="col-6">
                <div class="time float-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    1 day ago
                </div>
            </div>
        </div>
        <p class="review link" tabindex="0">
            Picture introduction of the food I have tried, very delicious, and the price is reasonable, the environment is also very good, I will come again to patronize
        </p>
        </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary8" class="masonary-items">
        <div class="cards">
        <div class="user-details" tabindex="0">
            <img alt="image" class="user-img" src="../../assets/images/author2.jpg">
            <div class="user-name">
                <h3 class="point">
                    Pot Chai Soon
                </h3>
                <p>
                    Wrote a review
                </p>
            </div>
        </div>
        <div class="restau-name" tabindex="0">
            <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
        </div>
        <div class="row link" tabindex="0">
            <div class="col-6 rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>  
            <div class="col-6">
                <div class="time float-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    1 day ago
                </div>
            </div>
        </div>
        </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary9" class="masonary-items"> 
            <div class="cards">
            <div class="user-details" tabindex="0">
                <img alt="image" class="user-img" src="../../assets/images/author3.jpg">
                <div class="user-name">
                    <h3 class="point">
                        Pot Chai Soon
                    </h3>
                    <p>
                        Wrote a review
                    </p>
                </div>
            </div>
            <div class="restau-name" tabindex="0">
                <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
            </div>
            <div class="row link" tabindex="0">
                <div class="col-6 rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>  
                <div class="col-6">
                    <div class="time float-right">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        1 day ago
                    </div>
                </div>
            </div>
            <p class="review link" tabindex="0">
                Picture introduction of the food I have tried, very delicious, and the price is reasonable, the environment is also very good, I will come again to patronize
            </p>
            </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary10" class="masonary-items">
        <div class="cards">
        <div class="user-details" tabindex="0">
            <img alt="image" class="user-img" src="../../assets/images/author2.jpg">
            <div class="user-name">
                <h3 class="point">
                    Pot Chai Soon
                </h3>
                <p>
                    Wrote a review
                </p>
            </div>
        </div>
        <div class="restau-name" tabindex="0">
            <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
        </div>
        <div class="row link" tabindex="0">
            <div class="col-6 rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>  
            <div class="col-6">
                <div class="time float-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    1 day ago
                </div>
            </div>
        </div>
        </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary11" class="masonary-items"> 
            <div class="cards">
            <div class="user-details" tabindex="0">
                <img alt="image" class="user-img" src="../../assets/images/author3.jpg">
                <div class="user-name">
                    <h3 class="point">
                        Pot Chai Soon
                    </h3>
                    <p>
                        Wrote a review
                    </p>
                </div>
            </div>
            <div class="restau-name" tabindex="0">
                <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
            </div>
            <div class="row link" tabindex="0">
                <div class="col-6 rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>  
                <div class="col-6">
                    <div class="time float-right">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        1 day ago
                    </div>
                </div>
            </div>
            <p class="review link" tabindex="0">
                Picture introduction of the food I have tried, very delicious, and the price is reasonable, the environment is also very good, I will come again to patronize
            </p>
            </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary12" class="masonary-items">
        <div class="cards">
        <div class="user-details" tabindex="0">
            <img alt="image" class="user-img" src="../../assets/images/author2.jpg">
            <div class="user-name">
                <h3 class="point">
                    Pot Chai Soon
                </h3>
                <p>
                    Wrote a review
                </p>
            </div>
        </div>
        <div class="restau-name" tabindex="0">
            <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
        </div>
        <div class="row link" tabindex="0">
            <div class="col-6 rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>  
            <div class="col-6">
                <div class="time float-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    1 day ago
                </div>
            </div>
        </div>
        </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary13" class="masonary-items"> 
            <div class="cards">
            <div class="user-details" tabindex="0">
                <img alt="image" class="user-img" src="../../assets/images/author3.jpg">
                <div class="user-name">
                    <h3 class="point">
                        Pot Chai Soon
                    </h3>
                    <p>
                        Wrote a review
                    </p>
                </div>
            </div>
            <div class="restau-name" tabindex="0">
                <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
            </div>
            <div class="row link" tabindex="0">
                <div class="col-6 rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>  
                <div class="col-6">
                    <div class="time float-right">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        1 day ago
                    </div>
                </div>
            </div>
            <p class="review link" tabindex="0">
                Picture introduction of the food I have tried, very delicious, and the price is reasonable, the environment is also very good, I will come again to patronize
            </p>
            </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item id="masonary14" class="masonary-items">
        <div class="cards">
        <div class="user-details" tabindex="0">
            <img alt="image" class="user-img" src="../../assets/images/author2.jpg">
            <div class="user-name">
                <h3 class="point">
                    Pot Chai Soon
                </h3>
                <p>
                    Wrote a review
                </p>
            </div>
        </div>
        <div class="restau-name" tabindex="0">
            <a href="javascript:;"> Hong Kong Street Family Restaurant Bedok (East Village)</a>
        </div>
        <div class="row link" tabindex="0">
            <div class="col-6 rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>  
            <div class="col-6">
                <div class="time float-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    1 day ago
                </div>
            </div>
        </div>
        </div>
    </ng-masonry-grid-item>
</ng-masonry-grid>